@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&family=Nunito&family=Rock+Salt&display=swap');

:root{
    --hellblau: #e4f3ff;
    --blau: #1971c2;
    --blauAlpha: #7da2c4e8;
    --weiss: #ffffff;
    --schwarz: #090909;
    --bs-emphasis-color-rgb: 00, 00, 00;
  }
  
html{
    height: 100%;
}

body{
    font-family: 'Nunito', sans-serif;
    background-color: #d6d4d0;
    color: var(--schwarz);
    height: 100%;
}

h1, h2, h3{
    border-radius: 5px;
    padding: 10px;
}

.bg-weiss{
    background-color: var(--weiss);
  }
  .bg-hellblau{
    background-color: var(--hellblau);
  }
  .bg-blau{
    background-color: var(--blauAlpha);
  }
   




  body {
    font-family: 'Nunito', sans-serif;
  }
  .Titel-Kochideen {
          font-family: 'Rock Salt', cursive;
          font-size: 4em;
          color: #1971c2;
          display: inline-block;
          line-height: 1;
          
  }
  
  nav {
      text-transform: uppercase;
      font-family: 'Noto Sans', sans-serif;
  }
  
  h1, h2 { 
    font-family: Bodoni MT,Didot,Didot LT STD,Hoefler Text,Garamond,Times New Roman,serif; 
  }




  
.collapsing  { 
  /* height: 0 !important;  */
  /* overflow: hidden !important;  */
  transition: width 0.1s ease !important; 
  /* transition-timing-function: cubic-bezier(0.860, 0.000, 0.660, 0.965); */
}

.noWidth { 
  transition: width 0.25s ease !important; 
  width: 0px;
  overflow: hidden;
}

.subMenu{
  top: 33px;
  left: calc(100% - 25px);
  
}
/* #1971c2  #0A50BA  33 80 125 171 */

.subMenu#maindish-collapse{
  top: 80px;

}
.subMenu#snacks-collapse{
  top: 125px;

}
.subMenu#desserts-collapse{
  top: 171px;

}

.subMenu ul{
  font-size: 18px;
  line-height: 1.5;
}
.subMenu ul li{
  font-size: 18px;
  padding-bottom: 1em;
}

.collapse-horizontal:not(.show)
  {
    /* display: none; */
  }

.active .nav-indicator
{
  width: 4rem;
  --tw-bg-opacity: 1;
  background-color: rgb(226 232 240/var(--tw-bg-opacity));
}
.navigation a{
  width: 100px;
}
.myCollapse {
  display: inherit;
  width: 250px;
  /* height: 100%; */
  opacity: 1;
}
/* .Titel-Kochideen {
    font-family: 'Rock Salt', cursive;
    font-size: 4em;
    color: #0A50BA;
}


div.K {
font-family: 'Rock Salt', cursive;
font-size: 15em;
color: #0A50BA; 
margin: 0 auto;
padding: 300px;
width: 1000px;
height: 1000px;
background: rgb(191, 219, 248);
} */

h1, h2, h3{
    border-radius: 5px;
    padding: 10px;
    font-family: Bodoni MT,Didot,Didot LT STD,Hoefler Text,Garamond,Times New Roman,serif; 
}

h1.bg-hellblau {
  font-family: 'Rock Salt', cursive;
  color: #1971c2; 
}

.bg-weiss{
  background-color: var(--weiss);
}

.bg-hellblau{
  background-color: var(--hellblau);
}
   

[data-toggle-class] {
  cursor: pointer;
}

[data-toggle-class] p {
  font-size: 20px;
}


/* #1971c2  #0A50BA  33 80 125 171 */

img.specialSize {
  max-width: 100%;
  height: auto;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  width: 100%;
  object-position: center center;
}

img.specialSize.specialSizeTop {
  object-position: top center;
}

.link-body-emphasis:hover, .link-body-emphasis:focus {
  color: RGBA(var(--bs-emphasis-color-rgb), var(--bs-link-opacity, 0.5)) !important;
}
.subMenu .link-body-emphasis:hover, .link-body-emphasis:focus {
  color: RGBA(255, 255, 255, var(--bs-link-opacity, 1)) !important;
}

